.b:hover {
    background: #F7A800;
}
.b {
    background: #00488E;
}
.bs {
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}
.bs:hover {
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
.bs:active {
    box-shadow: 1px 1px 3px rgba(0,0,0,0.6);

}